#navbar{
    list-style-type: none;
    /* border: solid; */
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #3498db; 
    
}
li{
    float: right;
}
li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
#process{
	text-align: center;
}
